@import "./Variables.scss";

@keyframes propa {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.booking{
  text-align: center;
  
    font-size: 1.1rem;
    color: $colorDirtyWhite;
    font-weight: 350;
    margin-bottom: 24px;
    // background-image: linear-gradient(
    // to right,
    // rgba(71, 6, 6, 1),
    // rgb(37, 3, 9),
    // rgba(71, 6, 6, 1));
    // background-color: #331414;
    // background-color: #2d0404;
    width: 100%;
    padding: 16px;
    border-radius: 8px;



    opacity: 0; 
    animation-name: propa;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: both;

    
}   

.contact {
  display: flex;
  gap: 6%;
  width: 100%;
  margin-bottom: 1rem 
}
.adress {  
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    rgba(71, 6, 6, 1),
    rgb(37, 3, 9),
    rgba(71, 6, 6, 1));
  box-shadow: 0 0.2rem 0.2rem rgb(15, 13, 13);
  width: 500px;
  height: 620px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 20px;
  iframe {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }
  div {
    text-align: center;
    p {
      font-size: 16px;
      color: $colorGrey;
    }
    h2 {
      font-size: $fontSizeBig;
      color: $colorOrange;
      font-weight: 350;
    }
    a {
      text-decoration: none;
      font-size: $fontSizeBig;
      padding: 0 1rem;
      color: $colorOrange;
      &:hover {
        color: $colorBlue;
      }
      span {
        display: block;
        font-size: $fontSizeSmall;
        color: $colorGrey;
        &:hover {
          color: $colorBlue;
        }
      }
    }
  }
}
.hours {
  text-align: center;
  h2 {
    font-size: $fontSizeMidiBig;
    color: $colorOrange;
    font-weight: 350;
    p {
      font-size: 15px;
    }
  }
}


@media screen and (max-width: 960px){
  .contact{
    display: block;
  }
  .adress {  
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 2%;
      a {
        padding: 0;
      }
    }
}

