@import "./Variables.scss";

.contact {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  iframe {
    width: 100%;
    height: 35vh;
  }
 div {
    text-align: center;
  p {
    font-size: $fontSizeSmall;
    color: $colorGrey;
  }

  h2 {
    font-size: $fontSizeBig;
    color: $colorOrange;
    font-weight: 350;
  }

  a {
    text-decoration: none;
    font-size: $fontSizeBig;
    padding: 0 1rem;
    color: $colorOrange;
    &:hover {
      color: $colorBlue;
    }
    span{
      display: block;
      font-size: $fontSizeSmall;
      color: $colorGrey;
      &:hover {
        color: $colorBlue;
      }

    }
  }
}
}
.hours {
  text-align: center;
  h2 {
    font-size: $fontSizeMidiBig;
    color: $colorOrange;
    font-weight: 350;
  p {
    font-size: $fontSizeSmall;
  }

}
@media screen and (max-width: 650px){
  .contact{
    gap: 0;
  }
}}