@import './Variables.scss';

.slider-container {
    display: flex;
    align-items:flex-start;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .slider-image {
    width: 900px;
    margin: 3rem 0;

  }

  @media screen and (max-width: 900px){
 
    .slider-container {
      width: 100%;
    }
    
    .slider-image {
      width: 90%;
      margin: 3% 5%;
    }
    
  }

  
