@import './Variables.scss';

.slider-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .slider-image {
    width: 900px;
    margin: 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(33, 1, 1);
  }


  @media screen and (max-width: 900px){
 
    .slider-container {
      width: 100%;
    }
    
    .slider-image {
      width: 96%;
      margin: 5% 2%;

    }
    
  }

  
