@import "./Variables.scss";


  h1{
    color: $colorBrown;
    font-size: $fontSizeVeryBig;
    padding: 2%;
    letter-spacing: 0.3rem;
    font-weight: 400;
  }
  h2{
    font-size: $fontSizeBig;
    letter-spacing: 0.1rem;
    color: $colorGrey;
  }

.homeLinks {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;
  
  
.logoLinks {
  text-align: center;
  border: solid $colorGrey 0.05rem;
  border-radius: 3%;
  width: 12rem;
  height: 14rem; 
  cursor: pointer;
  a {
    text-decoration: none;
    p{
      font-size: $fontSizeBig;
      color: $colorOrange;
      padding: 0.5rem 0;
    }   
  }

img{
  margin-top: 0;
  width: 60%;
  margin-bottom: 6%;
  
}
&:hover {
  // box-shadow: 0 0 10px 0 $colorBrown;
  border: solid 0.1rem $colorOrange;
  color: $colorGrey;

}
}

}

.imgGray{
  filter: grayscale(100%);
}
.imgInvert {
  filter: invert(90%);
}
.imgSepia {
  filter: sepia(90%);

}
.imgRotate {
  filter: hue-rotate(50%);
}
@media screen and (max-width: 960px){

  h1{
    font-size: 2.5rem;
    letter-spacing: 0rem;
  }
  h2{
    font-size: $fontSizeMidi;
    letter-spacing: 0rem;
  }
  .homeLinks {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    gap: 2rem 0;
    margin: 1.5rem 0;    
    .logoLinks {
    width: 40%;
    height: auto; 
    a {
      text-decoration: none;
      p{
        font-size: $fontSizeMidi;
        font-weight: 300;
        color: $colorOrange;
      }
    }
    &:hover {
      border: solid 0.1rem $colorGrey;
    
    }
    }
  }
  }
  

