@import "./Variables.scss";

@keyframes propa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes head {
  from {
    scale: 100%;
  }
  to {
    scale: 105%;
  }
}
h1 {
  color: $colorDirtyWhite;
  font-size: $fontSizeVeryBig;
  padding: 2%;
  letter-spacing: 0.3rem;
  font-weight: 400;
  text-shadow: 0rem 0.2rem 0.1rem rgb(15, 13, 13);
}

.anime {
  opacity: 0;
  animation-name: propa;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

h2 {
  font-size: $fontSizeBig;
  color: $colorDirtyWhite;
  letter-spacing: 0.1rem;
}

h3 {
  width: 16rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(15, 13, 13);

  &:hover {
    animation-name: head;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  a {

    font-size: $fontSizeMidi;
    font-weight: 400;
    color: $colorDirtyWhite;
    text-decoration: none;

    &:hover {
      animation-name: head;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }
  }
}

.homeLinks {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;

  .logoLinks {
    text-align: center;
    background-image: linear-gradient(
      to right,
      rgb(37, 3, 9),
      rgba(71, 6, 6, 1)
    );
    box-shadow: 0 0.4rem 0.5rem rgb(15, 13, 13);
    border-radius: 3%;
    width: 12rem;
    height: 14rem;
    cursor: pointer;
    a {
      text-decoration: none;
      p {
        font-size: $fontSizeBig;
        color: $colorGrey;
        padding: 0.5rem 0;
      }
    }

    img {
      margin-top: 0;
      width: 60%;
      margin-bottom: 6%;
    }
    &:hover {
      animation-name: head;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }
  }
}

.imgGray {
  filter: grayscale(100%);
  width: 10rem;
  height: auto;
}
.imgInvert {
  filter: invert(90%);
  width: 10rem;
  height: auto;
}
.imgSepia {
  filter: sepia(90%);
  width: 10rem;
  height: auto;
}
.imgRotate {
  filter: hue-rotate(50%);
  width: 10rem;
  height: auto;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0rem;
    text-shadow: none;
  }
  h2 {
    display: inline-block;
    font-size: $fontSizeMidi;
    letter-spacing: 0rem;
    padding: 0 1rem;
  }
  .homeLinks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    gap: 2rem 0;
    margin: 1.5rem 0;
    .logoLinks {
      width: 40%;
      height: auto;
      a {
        text-decoration: none;
        p {
          font-size: $fontSizeMidi;
          font-weight: 300;
          color: $colorOrange;
        }
      }
      &:hover {
        border: none;
      }
    }
  }
}
