@import "./Variables.scss";

.menu {
  margin-bottom: 2rem;
  button{
    width: 800px;
    background-color: $backcolorblack;   
    font-size: $fontSizeMidi;
    margin: 2% 0;
    color: $colorGrey;
    padding: 0.8rem;
    border: solid $colorGrey 0.05rem;
    border-radius: 0.3rem;
    cursor: pointer;
    
  }
}

.text_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: $fontSizeSmall;
  line-height: 2;
  .p_left{
    width: 250px;
  }
}

@media screen and (max-width: 650px){
  
  .menu {
    button{
      max-width: 330px; 
      margin: 0 auto;
      margin: 5% 0;
    }
  }
  
  .menu_text{
    max-width: 96%;
    margin: 0 auto;
    font-size: 1rem;
  } 
  }
  