@import "./Variables.scss";
@keyframes menu {
 from{
 scale: 0;
 }
 to{
 scale: 1;
 }
  
}

.menu {
  margin-bottom: 2rem;
  button{
    width: 800px;
 
    background-image: linear-gradient(to right,rgba(71,6,6,1),  rgb(37, 3, 9),rgba(71,6,6,1));
    box-shadow: 0 0.2rem 0.2rem rgb(15, 13, 13);
    font-size: $fontSizeMidi;
    font-weight:lighter;
    margin: 2% 0;
    color: $colorGrey;
    padding: 0.8rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    
  }
}

.text_menu {
  color: $colorDirtyWhite;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: $fontSizeSmall;
  line-height: 2;
  animation-name: menu;
  animation-duration: 0.3s;
  .p_left{
    width: 250px;
  }
  .p_leftTwo{
    width: 250px;
    font-size: 12px;
  }
}

@media screen and (max-width: 650px){
  
  .menu {
    button{
      max-width: 330px; 
      margin: 0 auto;
      margin: 5% 0;
    }
  }
  
  .menu_text{
    max-width: 96%;
    margin: 0 auto;
    font-size: 1rem;
  } 
  }
  