$backcolorblack: rgb(26, 26, 28);
$backcolormain:  rgb(27, 10, 2);
$pageColor:  rgb(0, 0, 0);

$fontSizeSmall: 1rem;
$fontSizeMidi: 1.3rem;
$fontSizeMidiBig: 1.5rem; 
$fontSizeBig: 2rem; 
$fontSizeVeryBig: 4rem;
$colorOrange: rgba(194, 135, 79, 0.996);
$colorBlue:  rgb(97, 123, 196); 
$colorWhite: rgb(255, 255, 255); 
$colorGrey: rgb(149, 148, 148); 
$colorDirtyWhite:rgb(201, 187, 187);
$colorBrown: rgb(203, 40, 40);