
$backcolormain:  rgb(24, 8, 1);
$backcolorblack: rgb(11, 10, 10);
$pageColor:  rgb(26, 28, 30);

$fontSizeSmall: 1.2rem;
$fontSizeMidi: 1.5rem; 
$fontSizeBig: 2rem; 
$fontSizeVeryBig: 4.5rem;

// $colorOrange: rgb(238, 111, 111);
$colorOrange: rgba(202, 20, 20, 0.996);
$colorBlue:  rgb(68, 103, 199); 
$colorWhite: rgb(255, 255, 255); 
